.barra-lateral {
    width: 280px;
    height: 100vh;
    background: #344648;

    padding: 20px 10px;

    display: flex;
    flex-direction: column;
    gap: 35px;
}

.logo h2 {
    color: #FBE0C3;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}

.secao-categorias h3 {
    margin-bottom: 15px;
    color: #FFBB98;
}

.secao-categorias ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 0;
    margin: 0;
}

.secao-categorias li {
    background: rgba(255, 255, 255, 0.05);
    color: #FBE0C3;

    padding: 12px 14px;
    border-radius: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contador {
    width: 28px;
    height: 28px;

    background: #FFBB98;
    color: #344648;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 13px;
    font-weight: bold;
}