.adcionar-tarefa {
    display: flex;
    flex-direction: column;
    gap: 10px;

    min-height: 60px;
}

.formulario-tarefa {
    background: rgba(255, 255, 255, 0.4);

    padding: 25px;

    border-radius: 20px;

    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;

    gap: 20px;
}

.grupo-formulario {
    display: flex;

    gap: 15px;

    flex-wrap: wrap;
}

.grupo-formulario input,
.grupo-formulario select {
    background: white;

    border: 1px solid #7D8E95;

    padding: 14px 16px;

    border-radius: 12px;

    outline: none;

    color: #344648;

    transition: 0.3s;
}

.grupo-formulario input:focus,
.grupo-formulario select:focus {
    border-color: #FFBB98;

    box-shadow: 0 0 10px rgba(255, 187, 152, 0.5);
}

#inputTarefa {
    flex: 1;
}