@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #FBE0C3, #344648);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container */
.container {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* Título */
.login-form h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

/* Inputs */
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.input-group input[type="email"],
.input-group input[type="password"] {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.2s;
}

.input-group input:focus {
    border-color: #344648;
    box-shadow: 0 0 5px rgba(66, 125, 129, 0.5);
}

.input-group label input[type="checkbox"] {
    margin-right: 8px;
    
}

/* Texto cadastro */
p {
    font-size: 14px;
    margin: 10px 0;
    text-align: center;
}

p a {
    color: #344648;
    text-decoration: none;
    font-weight: 600;
}

p a:hover {
    text-decoration: underline;
}

/* Botão */
button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #344648;
    color: #FBE0C3;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 10px;
    margin-top: 10px;
}

button:hover {
    background-color: #FBE0C3;
    color: #344648;
}

